body{
  background-color: #071013;
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  text-align: center;
}

p, ul{
  color: #75ABBC;
}

h1, h2, h3{
  color: #23B5D3;
}

#minhafoto{
  border-radius: 100%;
}